= render_region :form_top

- render_region :form do |form|
  - form.edit_name do
    %p.title
      %label{:for => 'shop_category_name'}= t('name')
      = fields.text_field :name, :class => 'textbox', :maxlenth => 255
  
  - form.edit_extended_metadata do
    = render :partial => 'meta', :locals => { :fields => fields }
    
  - form.edit_content do 
    #tab_control
      #tabs.tabs
        #tab_toolbar
      #pages.pages
        = hidden_field_tag 'page_part_index_field' #important
        = render :partial => 'part', :collection => @parts
    
- render_region :form_bottom do |form_bottom|
  - form_bottom.edit_buttons do
    - @buttons.each do |partial|
      = render :partial => partial, :locals => {:f => fields}
    %p.buttons{:style=>"clear: left"}
      = save_model_button(@shop_category)
      = save_model_and_continue_editing_button(@shop_category)
      = t('or')
      = link_to t('cancel'), admin_shop_products_url
  - form_bottom.edit_timestamp do
    =# updated_stamp @shop_category