%li.product.object{:id => "product_#{product.id}", :'data-id' => product.id}
  .attributes
    - render_region :product do |body|
      - body.move do
        %span.move.attribute
      - body.icon do
        - link_to [:edit_admin, product], :class => 'icon' do
          - unless product.attachments.empty?
            = image_tag product.attachments.first.image.url(:icon)
      - body.name do
        %span.name.attribute
          - link_to [:edit_admin, product] do
            = number_to_currency(product.price)
            = product.name
      - body.sku do
        %span.sku.attribute
          = product.sku
      - body.modify do
        .modify
          %span.remove
            = link_to t('remove'), [:remove_admin, product]