Add Order
- form_for [:admin, @shop_order] do |f|
  %p
    = f.label :customer, 'Customer:'
    = f.select :customer_id, ShopCustomer.scoped_by_access('front').all.collect {|c| [c.name, c.id]}
  %p
    = f.label :name, 'Balance:'
    = f.text_field :balance
  %p
    = f.label :email, 'Status:'
    = f.text_field :status
  %p
    = f.submit "Save"
    

- if @shop_orders.empty?
  %p There are no customers.
- else
  %form
    - @shop_orders.each do |order|
      %p
        = order.balance
        = order.customer.name
        = link_to "Add Order", "", :style => "color: blue;"
