- render_region :foot do |foot|
  - foot.buttons do
    %p.buttons
      = save_model_button(@shop_category)
      = save_model_and_continue_editing_button(@shop_category)
      = t('or')
      = link_to t('cancel'), admin_shop_categories_path
  - foot.timestamp do
    = updated_stamp @shop_category