%span.name= address.name
%span.unit= address.unit
%span.street= address.street_1
%span.street= address.street_2
%span.city= address.city
%span.state= address.state
%span.country= address.country
%span.postcode= address.postcode