%ul#items
  - @shop_order.line_items.each do |item|
    %li.item
      %h3= link_to %{#{item.item.name} (#{item.item.sku})}, [:edit_admin, item.item]
      %span.quantity== #{item.quantity}x
      %span.price_each== #{number_to_currency item.item.price} Ea.,
      %span.total== #{number_to_currency item.price}
      