%li.order.object{:id => "order_#{order.id}", :'data-id' => order.id}
  .attributes
    %span.name.attribute
    - render_region :body do |body|
      - body.price do
        %span.price.attribute= link_to number_to_currency(order.price), edit_admin_shop_order_path(order)
      - body.status do
        %span.status.attribute= order.status
      - body.updated do
        %span.updated.attribute= "#{distance_of_time_in_words Time.now, order.updated_at} ago"
      - body.customer do
        .modify
          %span.customer.attribute= order.customer.name rescue nil