%li.category{:id => "shop_category_#{category.id}", :'data-id' => category.id }
  .attributes
    %span.handle
    - render_region :category_attributes do |region|
      - region.category_name do
        %span.name.attribute= link_to category.name, edit_admin_shop_category_path(category)
      - region.category_description do
        %span.sku.attribute= category.handle
      - region.category_modify do
        .modify
          %span.add_child= link_to t('add_product'), new_admin_shop_category_product_path(category)
          %span.remove= link_to t('remove'), remove_admin_shop_category_path(category)
  - render_region :category_products do |region|
    - region.category_products do
      %ul.products{ :id => "shop_category_#{category.id}_products", :'data-id' => category.id }
        = render :partial => '/admin/shop/products/index/product', :collection => category.products