%h3.title Upload New Image

.popup_content
  - form_for :image, :url => admin_shop_product_images_path(@shop_product.id), :html => { :method => "post", :multipart => true, :id => 'image_form' } do |f|
    %ol
      %li.title
        = f.label :title, t('name')
        = f.text_field :title, :class => 'clearable'
      %li.caption
        = f.label :caption, t('caption')
        = f.text_field :caption, :class => 'clearable'
      %li.file
        = f.file_field :asset, :class => 'clearable'
    
      %li.submit
        = f.submit 'Create'

%a#new_image_popup_close.close{ :href => '#new_image_popup' }