- @page_title = 'Products - ' + default_page_title

= render 'head'

.outset 
  #shop_products_table
    = render :partial => 'products_table'
  = will_paginate @shop_categories

  #actions
    %ul
      %li= link_to "New Category", new_admin_shop_category_path
      %li
        - form_tag nil, :method => 'get', :style => "display:inline" do 
          %input{ :type => "search", :id => "search", :name => "search" , :value => params[:search] }
          = submit_tag "Search"
          = observe_field 'search',  :frequency => 1, :update => 'shop_products_table', :url => admin_shop_products_url, :method => 'get', :with => "'search=' + escape(value)"