- unless @shop_orders.empty?
  - @shop_orders.each do |order|
    .order-list
      %li= order.id
      %li= order.customer.name
- else
  .message
    Sorry you have no orders

%form
  - form_for [:shop, @shop_order], :url => admin_shop_orders_url do |f|
    %p
      %label Balance
      = f.text_field :balance, :class => 'textbox', :maxlength => 10  
    %p
      %label Status
      = f.text_field :status, :class => 'textbox', :maxlength => 10  
    %p
      %label Customer


    %p
      = save_model_button(@shop_order, {:label => "Create Order"})
      or
      = link_to "Cancel", {:action => :index}
